*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html,
body{
  height: 100%;
  width: 100%;
}

body{
  background-color: #dadada;
}

.parent{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 35px;
  padding: 30px;
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top img{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border: 1px solid #dadada;
  border-radius: 50%;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 13px;
  border-radius: 5px;
  gap: 7px;
  background-color: transparent;
  color: #b1b1b1;
}

.center h4{
  font-size: 17px;
  font-weight: 600;
}

.center h4 span{
  margin: 5px;
  font-size: 10px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h3{
  font-size: 20px;
}

.center .tag{
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.center .tag h5{
  font-size: 13px;
  background-color: #dadada;
  color: #111;
  padding: 2px 4px;
  font-weight: 400;
  border-radius: 5px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}

.bottom h4{
  font-size: 17px;
}

.bottom p{
  font-size: 13px;
  color: #8b8b8b;
}